<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <connectionStrings>    
    <add name="Antecedentes" connectionString="Data Source=rramos-i5\SQLEXPRESS;Initial Catalog=BD_ANTECEDENTES;Persist Security Info=True;User ID=sa;Password=epslsy" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- Al implementar el proyecto de la biblioteca de servicios, el contenido del archivo de configuración se debe agregar al archivo 
  app.config del host. La configuración del sistema no admite archivos de configuración en las bibliotecas. -->
  <system.serviceModel>
    <services>
      <service name="WcfAntecedentes.Antecedentes">
        <endpoint address="" binding="wsHttpBinding" contract="WcfAntecedentes.IAntecedentes">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/WcfAntecedentes/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, 
          establezca el valor siguiente en false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
