USE [master]
GO
/****** Object:  Database [TIENDAARMAS]    Script Date: 09/10/2014 03:27:50 p.m. ******/
CREATE DATABASE [TIENDAARMAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIENDAARMAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TIENDAARMAS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TIENDAARMAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TIENDAARMAS_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIENDAARMAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIENDAARMAS]
GO
/****** Object:  Table [dbo].[ARMA]    Script Date: 09/10/2014 03:27:50 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARMA](
	[SERIE_ARMA] [char](12) NOT NULL,
	[DESCRIPCION] [varchar](60) NULL,
	[CARACTERISTICAS] [varchar](200) NULL,
	[MARCA] [varchar](60) NULL,
	[PRECIO] [decimal](8, 2) NULL,
	[CATEGORIA] [int] NULL,
	[AUTORIZACION] [int] NULL,
	[URL_IMAGEN] [varchar](200) NULL,
	[FE_INGRESO] [datetime] NULL,
 CONSTRAINT [PK_ARMA] PRIMARY KEY CLUSTERED 
(
	[SERIE_ARMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 09/10/2014 03:27:50 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [char](8) NULL,
	[NOMBRES] [varchar](60) NULL,
	[AP_PATERNO] [varchar](60) NULL,
	[AP_MATERNO] [varchar](60) NULL,
	[SEXO] [char](1) NULL,
	[FE_NACIMIENTO] [date] NULL,
	[EMAIL] [varchar](60) NULL,
	[CELULAR] [char](9) NULL,
	[DIRECCION] [varchar](60) NULL,
	[FE_REGISTRO] [datetime] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_usuario_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO_SISTEMA]    Script Date: 09/10/2014 03:27:50 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO_SISTEMA](
	[dni] [char](8) NOT NULL,
	[username] [char](15) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Apellido] [varchar](255) NULL,
	[Edad] [int] NULL,
 CONSTRAINT [PK_USUARIO_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[dni] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 09/10/2014 03:27:50 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VENTA](
	[COD_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[COD_USUARIO] [int] NULL,
	[SERIE_ARMA] [char](12) NULL,
	[TIPO_PAGO] [int] NULL,
	[FE_REGISTRO] [datetime] NULL,
	[ESTADO] [int] NULL,
	[FE_RESPUESTA] [datetime] NULL,
	[COD_SUCAMEC] [int] NULL,
	[NRO_LICENCIA] [char](8) NULL,
	[FE_ENTREGA] [datetime] NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[COD_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_ARMA] FOREIGN KEY([SERIE_ARMA])
REFERENCES [dbo].[ARMA] ([SERIE_ARMA])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_ARMA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_COD_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[usuario] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_COD_USUARIO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_SERIE_ARMA] FOREIGN KEY([SERIE_ARMA])
REFERENCES [dbo].[ARMA] ([SERIE_ARMA])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_SERIE_ARMA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[usuario] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_USUARIO]
GO
USE [master]
GO
