
<ol class="round">
    <li class="one">
        <h5>Nuestra Misión</h5>
        Regular, supervisar y fiscalizar, a nivel nacional, los servicios de seguridad privada y el uso civil de armas de fuego, municiones, explosivos y productos pirotécnicos, mediante la aplicación de recursos tecnológicos y la gestión de un equipo humano competente y comprometido en beneficio de la sociedad.
    </li>

    <li class="two">
        <h5>Nuestra Visión</h5>
        Ser reconocido como un organismo técnico especializado moderno, eficiente y transparente, que brinda servicios de calidad en forma oportuna y que contribuye a la seguridad ciudadana y al desarrollo del país.
    </li>

    <li class="three">
        <h5>Historia</h5>
        A partir del año 1964, la Dirección de Control de Servicios de Seguridad, Control de Armas, Munición y Explosivos de Uso Civil - DICSCAMEC, inició sus actividades como un órgano perteneciente al Ministerio del Interior con el propósito de controlar las armas de fuego y explosivos de uso civil.
        <p />
        Luego de 35 años, mediante Ley Nº 27095, publicada el 28 de abril de 1999, se autorizó la reestructuración de la DICSCAMEC, elevándola al nivel de Dirección General, dependiente funcional y administrativamente de la Alta Dirección del Ministerio del Interior. Como parte de dicho proceso, se dispuso la creación y el funcionamiento de nueve (09) Jefaturas Departamentales (Ancash, Arequipa, Cajamarca, Cusco, Junín, La Libertad, Lambayeque, Iquitos, Puno y Tacna) que permitirían a la DICSCAMEC tener representatividad a nivel nacional.
        <p />
        Mediante Ley Nº 29915, se facultó al Poder Ejecutivo a legislar en materia de fortalecimiento y reforma institucional del Sector Interior y de Defensa Nacional. Dicha facultad para legislar incluyó, entre otros, la reforma de la legislación orientada al fortalecimiento institucional del Ministerio del Interior, de la Policía Nacional del Perú y de la carrera policial.
        <p />
        Con el propósito de atender y satisfacer las necesidades de los usuarios, mediante Decreto Legislativo Nº 1127, publicado el 07 de diciembre de 2012, se crea la Superintendencia Nacional de Control de Servicios de Seguridad, Armas, Municiones y Explosivos de Uso Civil - SUCAMEC, como un organismo técnico especializado, adscrito al Ministerio del Interior, con autonomía administrativa, funcional y económica, encargado de, entre otros, controlar, administrar, autorizar, capacitar, supervisar fiscalizar, normar y sancionar las actividades en el ámbito de los servicios de seguridad privada, fabricación y comercio de armas, municiones y conexos, explosivos y productos pirotécnicos de uso civil.
        <p />
        La creación de la Superintendencia, permitirá desarrollar políticas en los temas de los servicios de seguridad, manejo de armas, municiones y explosivos de uso civil y coordinar de una manera adecuada con los otros sectores implicados, con la finalidad de preservar la paz, la seguridad y el bienestar social de los ciudadanos.

    </li>
</ol>
