                /* jssor slider thumbnail navigator skin 11 css */
                /*
                .jssort11 .p            (normal)
                .jssort11 .p:hover      (normal mouseover)
                .jssort11 .pav          (active)
                .jssort11 .pav:hover    (active mouseover)
                .jssort11 .pdn          (mousedown)
                */
                .jssort11
                {
                  font-family: Arial, Helvetica, sans-serif;
                }
                .jssort11 .i, .jssort11 .pav:hover .i
                {
                  position: absolute;
                  top:3px;
                  left:3px;
                  WIDTH: 60px;
                  HEIGHT: 30px;
                  border: white 1px dashed;
                }
                * html .jssort11 .i
                {
                  WIDTH /**/: 62px;
                  HEIGHT /**/: 32px;
                }
                .jssort11 .pav .i
                {
                  border: white 1px solid;
                }
                .jssort11 .t, .jssort11 .pav:hover .t
                {
                  position: absolute;
                  top: 3px;
                  left: 68px;
                  width:129px;
                  height: 32px;
                  line-height:32px;
                  text-align: center;
                  color:#fc9835;
                  font-size:13px;
                  font-weight:700;
                }
                .jssort11 .pav .t, .jssort11 .phv .t, .jssort11 .p:hover .t
                {
                  color:#fff;
                }
                .jssort11 .c, .jssort11 .pav:hover .c
                {
                  position: absolute;
                  top: 38px;
                  left: 3px;
                  width:197px;
                  height: 31px;
                  line-height:31px;
                  color:#fff;
                  font-size:11px;
                  font-weight:400;
                  overflow: hidden;
                }
                .jssort11 .pav .c, .jssort11 .phv .c, .jssort11 .p:hover .c
                {
                  color:#fc9835;
                }
                .jssort11 .t, .jssort11 .c
                {
                  transition: color 2s;
                    -moz-transition: color 2s;
                    -webkit-transition: color 2s;
                    -o-transition: color 2s;
                }
                .jssort11 .p:hover .t, .jssort11 .phv .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .phv .c, .jssort11 .pav:hover .c
                {
                  transition: none;
                    -moz-transition: none;
                    -webkit-transition: none;
                    -o-transition: none;
                }
                .jssort11 .p
                {
                  background:#181818;
                }
                .jssort11 .pav, .jssort11 .pdn
                {
                  background:#462300;
                }
                .jssort11 .p:hover, .jssort11 .phv, .jssort11 .pav:hover
                {
                  background:#333;
                }